name: Run InferSharp PR and Fix
on: [pull_request]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.201'
      - run: dotnet build
      - name: Run Infer#      
        uses: microsoft/infersharpaction@v1.4.1
        id: runinfersharp
        with:
          binary-path: 'bin'
      - run: cat infer-out/report.sarif
      - run: cat infer-staging/cfg.txt
      - run: cat infer-out/logs.txt
      - name: Run InferPR
        uses: thatnerd2/InferPRAction@main
        with:
          sarif_path: infer-out/report.sarif
          CPD_GITHUB_TOKEN: ${{ secrets.INFERPRACTION_GITHUB_TOKEN }}
          DPBF_TOKEN: ${{ secrets.DPBF_TOKEN }}

